body {
	min-width: 650px !important;
}


.logo {
	display: inline-block;
	width: 30px; height: 30px;
	img {
		width:100%; height:auto;
	margin: -5px 0 0 0;
	}
	transition:transform 0.2s ease;
	transform:scale(0.8);
	&:hover {
		transform:scale(0.9);
	}
}


body {
	padding-top: 40px;
}
header {
	position:fixed; top:0; z-index: 2; width:100%;
	padding: 5px 10px 0px 20px;
	background: #222;
	box-shadow:0 0 10px 0px rgba(0,0,0,0.3);
}


.mainmenu {
	&, li, a { display:inline-block; }

	margin: 5px 0 0 20px;
	// position:relative; top:10px;

	a {
		overflow:inherit;
		border-bottom: 2px solid #222;
		padding:10px 20px;
		text-transform: uppercase; letter-spacing: 1px; font-size: 12px;

		transition:opacity 0.2s ease, border 0.2s ease;
		opacity: 0.5;
		&:hover {
			opacity: 0.6;
			border-color: #aaa;
		}

		&.active {
			opacity:0.8;
			border-color: #fff;
		}
	}
}

.network {
	position:absolute; top:5px; right: 5px;
}

