# See http://help.github.com/ignore-files/ for more about ignoring files.

# data
/database.json

# dependencies
/node_modules

# testing
/coverage

# production
/dist
/build
/builds

# misc
.DS_Store
.env
publisher.json
npm-debug.log
