/* Reset.less
 * Props to Eric Meyer (meyerweb.com) for his CSS reset file. We're using an adapted version here that cuts out some of the reset HTML elements we will never need here (i.e., dfn, samp, etc).
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul {
  list-style: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
* {
  border-radius: 0;
}
html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  display: inline;
  zoom: 1;
}
audio:not([controls]) {
  display: none;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}
button,
input {
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-user-select: none;
  overflow: hidden;
}
*::-webkit-scrollbar {
  display: none;
}
html {
  overflow: -moz-scrollbars-none;
}
* {
  /* prevent callout when holding tap on links (the native dialog that comes up) */
  -webkit-touch-callout: none;
  /* prevent webkit from resizing text to fit */
  -webkit-text-size-adjust: none;
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* prevent copy paste, to allow, change 'none' to 'text' */
  -webkit-user-select: none;
}
input[type="checkbox"] {
  -webkit-appearance: none;
}
input::-webkit-input-placeholder {
  opacity: 0;
}
*:active,
*:focus {
  outline: none;
}
.no-select {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-focus-ring-color: rgba(255, 255, 255, 0);
  outline: none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  resize: none;
  -webkit-text-size-adjust: none;
}
html,
body {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-focus-ring-color: rgba(255, 255, 255, 0);
  outline: none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  resize: none;
  -webkit-text-size-adjust: none;
}
.text-select {
  -moz-user-select: text;
  -o-user-select: text;
  -khtml-user-select: text;
  -webkit-user-select: text;
  user-select: text;
  resize: none;
}
img {
  border: 0;
  vertical-align: top;
}
a {
  text-decoration: none;
}
a:focus,
a:active {
  outline: none;
}
body * {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Open Sans, Helvetica Neue, sans-serif, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-user-select: none;
}
body.desktop-font-roboto * {
  font-family: 'Roboto', sans-serif;
}
a {
  display: block;
}
html,
body {
  width: 100%;
  min-height: 100%;
  overflow-y: auto;
}
@media (max-width: 360px) {
  html,
  body {
    width: 360px;
  }
}
input {
  font-family: 'ProximaNova-Bold';
  color: #d08c49;
}
body {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'ProximaNova-Regular';
  background: #fff url('/static/img/main_bg-min.jpg') no-repeat;
  background-size: cover;
  background-position: top center;
}
.wrapper {
  max-width: 1200px;
  width: 100%;
}
@media (max-width: 1200px) {
  .wrapper {
    padding: 0 20px;
  }
}
#app {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
@font-face {
  font-family: "ProximaNova-Regular";
  src: url("/static/fonts/ProximaNova-Regular/ProximaNova-Regular.eot");
  src: url("/static/fonts/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("/static/fonts/ProximaNova-Regular/ProximaNova-Regular.woff") format("woff"), url("/static/fonts/ProximaNova-Regular/ProximaNova-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "ProximaNova-Bold";
  src: url("/static/fonts/ProximaNova-Bold/ProximaNova-Bold.eot");
  src: url("/static/fonts/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("/static/fonts/ProximaNova-Bold/ProximaNova-Bold.woff") format("woff"), url("/static/fonts/ProximaNova-Bold/ProximaNova-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@media (max-width: 900px) {
  .header {
    margin-bottom: 30px;
    justify-content: space-between;
  }
}
.switch-label {
  cursor: pointer;
}
.switch-text {
  font-family: 'ProximaNova-Bold';
  color: #564f53;
  text-transform: uppercase;
}
@media (max-width: 671px) {
  .switch-text {
    font-size: 14px;
  }
}
.switch-input:checked + span {
  color: #d08c49;
}
.switch-shadow {
  cursor: pointer;
  background-color: #544d51;
  border-radius: 10px;
}
.switch-shadow:before {
  background-color: #7f7b7e;
  transform: translate(-50%, -50%);
}
.switch-shadow:after {
  content: '';
  background-color: #fff;
  border: 10px solid #d08c49;
  border-radius: 50%;
  transition: all .6s;
}
.switch-shadow.mainnet:after {
  transform: translateX(17px);
}
@media (max-width: 900px) {
  .switch {
    display: none;
  }
}
.account {
  position: relative;
  right: 0;
}
.account-page {
  padding: 10px;
  display: block;
  font-family: 'ProximaNova-Bold';
  text-transform: uppercase;
  color: #fff;
  background-color: #d08c49;
  border-radius: 6px;
  transition: all .5s;
}
.account-page:hover {
  background-color: #000;
}
@media (max-width: 900px) {
  .account {
    position: absolute;
  }
}
.gamewindow {
  font: 16px / normal 'ProximaNova-Regular';
  color: #fff;
  background-color: rgba(45, 32, 49, 0.9);
}
.top-info {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.caption {
  display: block;
  text-transform: uppercase;
}
.deposit-value {
  display: block;
}
.input-label {
  color: #d08c49;
}
.input-text {
  font-size: 14px;
  transition: all 1s;
}
@media (max-width: 1200px) {
  .input-text {
    font-size: 12px;
  }
}
@media (max-width: 480px) {
  .input-text {
    font-size: 10px;
  }
}
.slider-overlay {
  background-color: #fff;
  border-radius: 5px;
}
.slider-capt {
  color: #d08c49;
}
.input-inp {
  outline: none;
  border: none;
  border-radius: 5px;
}
.slider-but {
  background-color: #d7a472;
  border-radius: 50%;
}
.slider-but.anim {
  transition: all .1s;
}
.slider-but:before {
  background-color: #e1d0bd;
  border-radius: 5px;
}
.find-bankroller.find {
  animation: animFind 1s infinite linear;
}
.roll-but {
  background-color: #d08c49;
  transition: all .5s;
}
.roll-but:before {
  background-color: #000;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  transition: all .5s;
}
.roll-but:after {
  background-color: #000;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  transition: all .5s;
}
.roll-text {
  font-family: 'ProximaNova-Bold';
  font-size: 17px;
  text-transform: uppercase;
  color: #fff;
}
.roll-capt {
  font-size: 14px;
  color: #d08c49;
}
.blockchain-capt {
  font-family: 'ProximaNova-Bold';
  font-size: 1.5em;
}
.blockchain-tx {
  cursor: pointer;
}
.blockchain-tx:hover > .blockchain-link {
  animation: animbut 1.5s forwards ease-out;
}
.blockchain-contract {
  cursor: pointer;
}
.blockchain-contract:hover > .blockchain-link {
  animation: animbut 1.5s forwards ease-out;
}
.blockchain-link {
  font-family: 'ProximaNova-Bold';
  color: #fff;
  background: #337ab7;
  border-radius: 6px;
  transform-style: preserve-3d;
}
@keyframes animbut {
  70% {
    transform: rotateY(360deg);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes animFind {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.close-capt {
  font-size: 16px;
}
.close-but {
  font-family: 'ProximaNova-Bold';
  font-size: 17px;
  color: #fff;
  text-transform: uppercase;
  background-color: #bb5d00;
  border-radius: 6px;
  transition: all .6s;
}
.close-but:hover {
  background-color: #000;
  transform: scale(1.06);
}
.popup {
  background-color: rgba(0, 0, 0, 0.7);
}
.popup.anim {
  transition: 3s;
}
.popup-table {
  background-color: #2d2031;
  border: 1px solid #d08c49;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  transition: all 1s;
}
.popup-but {
  font-family: 'ProximaNova-Bold';
  font-size: 17px;
  text-transform: uppercase;
  color: #fff;
  background-color: #d08c49;
  transition: all .5s;
}
.popup-but:hover {
  background-color: #000;
}
.popup-text {
  font-family: 'ProximaNova-Bold';
  font-size: 21px;
  color: #d08c49;
}
.popup-deposit {
  font-family: 'ProximaNova-Bold';
  color: #fff;
}
@media (max-width: 671px) {
  .popup {
    padding: 0 20px;
  }
}
.open-channel {
  background-color: rgba(0, 0, 0, 0.7);
}
.open-channel.anim {
  transition: 1.3s;
}
.open-capt {
  font-family: 'ProximaNova-Bold';
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
}
.game-info {
  font: 16px / normal 'ProximaNova-Bold';
  color: #fff;
  background-color: rgba(45, 32, 49, 0.9);
}
@media (max-width: 900px) {
  .game-info {
    display: none;
  }
}
.table {
  padding: 10px;
  text-transform: uppercase;
  border: 2px solid #d08c49;
  border-radius: 6px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.table-capt {
  font-family: 'ProximaNova-Bold';
}

/*# sourceMappingURL=main.47a8b7d7.css.map*/