.wallet-wrap {
	padding: 30px 20px 20px 20px;

	spinner {
		margin:200px;
	}

	label {
		display: block; padding-left: 5px;

		text-transform:uppercase; font-size:12px; letter-spacing:1px;
	}

	.address {
		position: relative;

		svg {
			float: left; opacity: 0.9;
			width:200px;
			height:200px;
			margin-top: -25px;
		}
		label {
			margin-top: 30px;
		}
		input {
			width: 410px;
			padding-left:5px;
			padding-right:0;
			margin:10px 0 0 -5px;
			font-size:15px;
		}

	}

	.etherscan {
		// text-transform:uppercase;
		font-size:10px; letter-spacing:1.5px;
		position: absolute; left:525px; top:0px;
		border: 1px solid #fff;
		display:block;
		padding: 3px 5px 3px 6px;
		opacity:0.7;

		&:hover {
			color:#fff; opacity:1;
		}
	}

	.balance {
		margin: 30px 0 0 0;
		position:relative;
		span {
			display:inline-block;
			margin:10px 20px 10px 0px;

			b {
				color:#d99736;
				font-size:24px;
			}
		}

		.loading {
			animation: pulsate 1s ease-out;
			animation-iteration-count: infinite;
			opacity: 0.0;
		}

		button {
			font-size:10px; letter-spacing:1.5px;
			position: absolute; left:512px; top:0px;
			display:block;
			padding: 3px 5px 4px 6px;
			opacity:0.7;

			background:transparent;
			border:1px solid orange;
			color:orange;

			&:hover {
				opacity:1;
			}

			&.loading {
				pointer-events: none;
				color:#333;
				border-color:#333;
			}
		}

		.bets-requested {
			pointer-events:none;
			border: 0;
			color:#c22;
			left:480px;
		}
	}


	.export {
		clear:both;
		margin:10px 0 0 10px;

		label { padding-left:0; padding-right:0; }

		input {
			width:490px; padding-left:0;
			font-size:12px;
		}
		button {
			text-transform:uppercase;
			border:1px solid #fff;
			color:#fff;
			background:transparent;
			font-size:11px; letter-spacing:2px;
			padding:9px 17px 9px 17px;
			opacity:0.6;
			margin:0 0 0 3px; position:relative; top:1px;
			&:hover {
				opacity:0.8;
			}
		}
		p {
			font-size:14px;
			margin:10px 10px 10px 0px;
		}

		label {
			cursor: pointer;
			transition:all 0.2s ease;
			&:hover { color:#fff; }

			transform:translate3d(15px,-10px,0)
		}
		.wrap {
			overflow:hidden; height:0;
			transition:height 0.3s ease;
		}
		&.show {
			label { transform:translate3d(0,0,0) }
			.wrap {
				height:70px;
			}
		}
	}




}
